<%- include('header'); -%>

<div class="container">
    <h1><%= title %></h1>
    <form method="POST" action="">
        <!-- Add errors with ejs...If errors -->
        <!-- for error in errors
        li!= error.msg -->
        <div class="form-group">
            <label for="name">First Name:</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="family_name">Family Name:</label>
            <input type="text" id="family_name" name="family_name" class="form-control" placeholder="Faminly Name">
        </div>
        <button class="btn btn-primary" type="submit">Add Author</button>
    </form>
</div>
    
<%- include('footer'); -%>